.nav {
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  list-style: none;
  display: flex;
  border-radius: 7px;
  align-items: center;
}

.nav a:link,
.nav a:visited {
  display: block;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  transition: all 0.4s ease;
}
.nav a:hover {
  color: #2f9e44;
}
/* CSS Modules feature */
.nav a:global(.active) {
  background-color: var(--color-dark--0);
}
a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
}
