@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f5ff;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 90rem;
}
.app h1 {
  margin-bottom: 3.2rem;
  font-size: 3.2rem;
  font-weight: 700;
}
.button {
  background-color: transparent;
  border: 1px solid #339af0;
  font-family: inherit;
  font-size: 1.6rem;
  padding: 1rem;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background-color: #339af0;
  color: #fff;
}
.container {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.counter {
  font-size: 6.4rem;
  margin: 1rem;
  transition: all 0.4s ease;
}
.step {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.step label {
  font-size: 1.9rem;
  color: #1864ab;
  font-weight: 500;
  border-bottom: 1px solid #1864ab;
  padding-bottom: 5px;
}
.step input {
  border: 1px solid #eee;
  padding: 1rem 0.5rem;
  font-size: 1.8rem;
  width: 10rem;
  text-align: center;
  outline: none;
  border-radius: 4rem;
  transition: all 0.4s ease;
}
.step input:focus {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}
.reaction {
  display: block;
  margin: 2rem 0;
  font-size: 2.4rem;
}
