@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f5ff;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 90rem;
}
.app h1 {
  margin-bottom: 3.2rem;
  font-size: 3.2rem;
  font-weight: 700;
}
.button {
  background-color: transparent;
  border-color: #339af0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-left: none;
  font-family: inherit;
  font-size: 1.6rem;
  padding: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  cursor: pointer;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.8rem;
}
.button:hover {
  background-color: #339af0;
  color: #fff;
  border-color: #339af0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
  border-left: none;
}
.container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.form-add-new {
  display: flex;
  align-items: center;
}
.step label {
  font-size: 1.9rem;
  color: #1864ab;
  font-weight: 500;
  border-bottom: 1px solid #1864ab;
  padding-bottom: 5px;
}
.form-add-new input {
  border-color: #339af0;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-right: none;
  border-left: 1px solid;
  padding: 1rem 0.5rem;
  font-size: 1.8rem;
  width: 20rem;
  text-align: center;
  outline: none;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  transition: all 0.4s ease;
  height: 1.8rem;
}
.step input:focus {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}
.reaction {
  display: block;
  margin: 2rem 0;
  font-size: 2.4rem;
}
.todos {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;
  flex-wrap: wrap;
}
.todo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.7rem;
}
.todo input[type="checkbox"] {
  width: 15px;
  height: 15px;
  border: none;
  accent-color: #1864ab;
}
.todo.complete {
  text-decoration: line-through;
}
.sort-select {
  width: 15rem;
  text-align: center;
  padding: 0.6rem;
  font-size: 1.7rem;
  display: block;
  border-radius: 1rem;
  border: 1px solid #1864ab;
  color: #1864ab;
  font-family: inherit;
}
.container-sort {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
